<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">   
    <link rel="stylesheet" type="text/css" href="/reset.css">
    <link rel="stylesheet" type="text/css" href="/main.css">
    <title>NO MORE DECISION</title>
</head>
<body>
    <span>no more decision for <%= userId %></span>
    <div id="wrapper">
        <select name="weekend_or_not">
            <option value="">오늘은..</option>
            <option value="weekday">평일</option>
            <option value="weekend">주말</option>
        </select>
        
        <select name="hungry_state">
            <option value="">배고픔 상태</option>
            <option value="degree1">밥까진 아니고, 그냥 입이 심심해</option>
            <option value="degree2">적당히 배만 채우면 될 듯?</option>
            <option value="degree3">겁나 배고파!!!!!!!!!!</option>
        </select>

        <select name="money_state">
            <option value="">재정 상태</option>
            <option value="degree1">4000원 이하</option>
            <option value="degree2">4000원 - 7000원</option>
            <option value="degree3">7000원 - 10000원</option>
            <option value="degree4">10000원이 넘어도 좋아, 나는 부유하지!</option>
        </select>
        
        <select name="time_state">
            <option value="">나에게 주어진 시간은</option>
            <option value="degree1">30분 이내. 후딱</option>
            <option value="degree2">1시간 이내. 적당히</option>
            <option value="degree3">1시간 넘어도. 느긋느긋</option>
        </select>
        
        <button>결과 보기</button>
    </div>
    
    
</body>
</html>